:root {
  --body-text-color: #212121;
  --logo-color: #000000;
  --logo-span-color: #2196f3;
  --current: #2196f3;
  --contacts-link: #757575;
  --background-section: #2f303a;
  --text-heading: #ffffff;
  --btn-background: #2196f3;
  --background-light: #f5f4fa;
  --description: #757575;
  --background-card: #ffffff;
  --opacity-text: rgba(255, 255, 255, 0.6);
  --active-btn: #188ce8;
  --border-min: #ececec;
  --icon-fill: #212121;
  --icon-social-light: #AFB1B8;
  --icon-social-hover: #2196F3;
  --icon-social-hover-bg: #ffffff;
  --text-color-form: #000000;

  --body-font: 'Roboto', sans-serif;
}

body {
  font-family: var(--body-font);
  color: var(--body-text-color);
  background-color: var(--background);
}

button {
  font-family: inherit;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

address {
  font-style: normal;
}

.list {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

img {
  display: block;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ----------------HEADER [START] ---------------- */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  border-bottom: 1px solid var(--border-min);
  background: var(--background-card);
}

.header {
  display: flex;
}

.nav {
  display: flex;
}

.menu-list {
  display: flex;
  margin: 32px 0 0 93px;
}

.menu-list__item:not(:last-child) {
  margin-right: 50px;
}

.logo {
  margin: 24px 0;

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--logo-color);
}

.logo-span {
  color: var(--logo-span-color);
}

.menu-list__link {
  display: block;
  position: relative;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: inherit;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-list__link.menu-list__link--current::after {
  position: absolute;
  content: '';
  height: 4px;
  left: 0;
  bottom: -4px;
  right: 0;

  background: var(--current);
  border-radius: 2px;
}

.menu-list__link:hover,
.menu-list__link:focus {
  color: var(--current);
}

.contacts {
  display: flex;
  margin: 32px 0 32px auto;
}

.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--contacts-link);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--current);
}

.contacts__icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  vertical-align: middle;

  fill: currentColor;
}

.menu-list__link--current {
  color: var(--current);
}

/* ----------------HEADER [FINISH]---------------- */

.main {
  padding-top: 84px;
}

/* ----------------SECTION-HEAD [START]---------------- */
.section-head {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  padding: 200px 0;

  text-align: center;
  background-color: var(--background-section);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), #2f303a66), url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-head__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--text-heading);
}

.section-head__btn-order {
  margin-top: 30px;
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text-heading);
  background-color: var(--btn-background);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-head__btn-order:hover,
.section-head__btn-order:focus {
  background-color: var(--active-btn);
}

/* ----------------SECTION-HEAD [FINISH] ---------------- */

/* ----------------SECTION-ADVANTAGES [START]---------------- */
.advantages-list__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc((100% - 90px) / 4);
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;

  background-color: var(--background-light);
}

.advantages-list__icon {
  width: 70px;
  height: 70px;

  fill: var(--icon-fill);
}

.advantages-list {
  display: flex;
  gap: 30px;
}

.advantages-list__item {
  flex-basis: calc((100% - 90px) / 4);
}

.advantages-list__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages-list__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--description);
}

/* ----------------SECTION-ADVANTAGES [FINISH]---------------- */

/* ----------------SECTION-ACTIVITY [START]---------------- */
.section-activity {
  padding-bottom: 94px;
}

.section-activity__list {
  display: flex;
  justify-content: center;
}

.section-activity__item {
  position: relative;
}

.section-activity__subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 70px;
  margin-top: 0;
  margin-bottom: 0;
  bottom: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--text-heading);
  background: rgba(47, 48, 58, 0.8);
}

.section-activity__item:not(:last-child) {
  margin-right: 30px;
}

/* ----------------SECTION-ACTIVITY [FINISH]---------------- */

/* ----------------SECTION-TEAM [START]---------------- */
.section-team {
  padding: 94px 0;
  background-color: var(--background-light);
}

.section__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list {
  display: flex;
  justify-content: center;
}

.team-list__item-title {
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-list__item:not(:last-child) {
  margin-right: 30px;
}

.team-list__item {
  padding-bottom: 30px;

  text-align: center;
  background-color: var(--background-card);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-list__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  
  color: var(--description);

}

.social-team {
  margin-top: 16px;
}

.social-team__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style-type: none;
}

.social-team__link {
  display: inline-block;
  width: 44px;
  height: 44px;
}

.social-team__icon {
  width: 44px;
  height: 44px;
  padding: 12px;

  fill: var(--icon-social-light);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-team__link:hover,
.social-team__link:focus {
  border-radius: 50%;
  background-color: var(--icon-social-hover);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-team__link:focus>.social-team__icon {
  fill: var(--icon-social-hover-bg);
}

.social-team__icon:hover,
.social-team__icon:focus {
  fill: var(--icon-social-hover-bg);
}

/* ----------------SECTION-TEAM [FINISH]---------------- */

/* ----------------SECTION-CUSTOMERS [START]--------------------- */
.section-customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers-list {
  display: flex;
  gap: 30px;

  list-style-type: none;
}

.customers-list__item {
  flex-basis: calc((100% - 120px) / 6);
}

.customers-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;

  border: 1px solid var(--icon-social-light);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list__link:hover,
customers-list__link:focus {
  border-color: var(--current);
}

.customers-list__icon {
  width: 106px;
  height: 60px;

  fill: var(--icon-social-light);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list__link:hover>.customers-list__icon {
  fill: var(--current);
}

.customers-list__link:focus>.customers-list__icon {
  fill: var(--current);
}

.customers-list__link:focus {
  outline: 2px solid var(--current);
}

/* ----------------SECTION-CUSTOMERS [END]--------------------- */

/* ----------------FOOTER [START]---------------- */
footer {
  background-color: var(--background-section);
}

.footer {
  padding: 60px 0;
}

.address {
  margin-top: 20px;
}

.footer__logo--inverse {
  color: var(--text-heading);
}

.footer-list__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: var(--opacity-text);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list__link:hover,
.footer-list__link:focus {
  color: var(--current);
}

.footer-address {
  color: var(--text-heading);
}

.footer-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-wrapper {
  display: flex;
  align-items: baseline;
}

.footer-social {
  margin-left: 70px;
  margin-right: 93px;
}

.footer-social__title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-heading);
}

.footer-social__list {
  display: flex;
  gap: 10px;

  list-style-type: none;
}

.footer-social__link {
  display: flex;
  justify-content: center;
  width: 44px;
  height: 44px;

  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:hover,
.footer-social__link:focus {
  background: var(--current);
}

.footer-social__icon {
  width: 20px;

  fill: var(--text-heading);
}


/* Foter subscription button */
.subscription {
  width: 570px;
}

.subscription__title {
  margin-bottom: 20px;
  margin-top: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-heading);
}

.subscription__send {
  display: flex;
}

.subscription__send input {
  width: 358px;
  height: 50px;
  margin: 0;
  padding: 15px 16px;

  color: var(--text-heading);
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription__send input:hover,
.subscription__send input:focus {
  outline: none;
  border-color: var(--active-btn);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscription__send input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription__button {
  width: 200px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 28px;
  margin-left: 12px;

  background-color: var(--btn-background);
  border: transparent;
  border-radius: 4px;

  color: var(--text-heading);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription__button:hover,
.subscription__button:focus {
  background-color: var(--active-btn);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscription__send-icon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  fill: currentColor;
}

/* ----------------FOOTER [FINISH]---------------- */

/* ----------------SECTION-PORTFOLIO [START]---------------- */
.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list__btn {
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  color: var(--body-text-color);
  background-color: var(--background-light);
  border: none;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list__item:not(:last-child) {
  margin-right: 8px;
}

.filter-list__btn--active {
  color: var(--text-heading);
  background-color: var(--current);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-list__btn:hover,
.filter-list__btn:focus {
  color: var(--text-heading);
  background-color: var(--current);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-list__description-wrapper {
  padding: 20px 24px;

  border: 1px solid var(--border-min);
  border-top: 0;
}

.portfolio-list__item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-list__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-list__link {
  display: block;

  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-list__box {
  display: inline-block;

  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__box-info {
  padding: 63px 24px;
  margin-top: 0;
  margin-bottom: 0;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--text-heading);
}

.portfolio-list__link:hover .portfolio-list__box,
.portfolio-list__link:focus .portfolio-list__box {
  transform: translateY(0%);
}

.portfolio-list__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.1;
  letter-spacing: 0.06em;

  color: var(--body-text-color);
}

.portfolio-list__category {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--description);
}

.portfolio-list__link:hover,
.portfolio-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* ----------------SECTION-PORTFOLIO [FINISH]---------------- */

/* ----------------SECTION-MODAL [START]---------------- */
.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;

  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;

  background-color: var(--background-card);
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;

  background-color: var(--background-card);
  fill: var(--text-color-form);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal__close-btn:hover {
  fill: var(--current);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


/* Form */
.form {
  width: 100%;
  padding: 40px;
}

.form__title {
  margin-bottom: 12px;
  margin-top: 0;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--body-text-color);
}

.form__send {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__field {
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}

.form__input {
  width: 100%;
  padding: 11px 12px 11px 42px;

  font-size: 16px;
  color: var(--text-color-form);
  background-color: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover,
.form__input:focus {
  border-color: var(--btn-background);
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(117, 117, 117, 0.5);
}

.form__comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 20px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color-form);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__comment:hover,
.form__comment:focus {
  border-color: var(--btn-background);
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--body-text-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover~.form__icon,
.form__input:focus~.form__icon {
  fill: var(--btn-background);
}

.form__field-terms {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--description);
  fill: var(--text-heading);
}

.form__field-terms>a {
  color: var(--btn-background);
}

.form__checkbox:checked~.form__icon-checkbox {
  border: none;
  background-color: var(--btn-background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form__icon-checkbox {
  border: 1px solid var(--text-color-form);
  border-radius: 2px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__btn-submit {
  width: 200px;
  height: 50px;
  padding: 10px 52px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--btn-background);
  border: transparent;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text-heading);
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__btn-submit:hover,
.form__btn-submit:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ----------------SECTION-MODAL [END]---------------- */